[alias]
	c = clone --recursive
	co = checkout
	count = "!git logb | wc -l | sed 's/^ *//;s/ *$//'"
	cp = cherry-pick
	delete-merged-branch = "!f() { git branch --merged | egrep -v '(^\\*|develop|master|main)' | xargs git branch -d; }; f"
	first-commit = !git log --pretty=format:\"%h\" --abbrev=40 "$(git main)"..HEAD | tail -1
	gc-full = "!git reflog expire --expire=now --all && git gc --aggressive --prune=now"
	logb = !git log --oneline "$(git main)"..HEAD
	main = symbolic-ref --short refs/remotes/origin/HEAD
	nuke = !git clean -fdx && git clean -fdX
	pull = pull --recurse-submodules
	pushf = push --force-with-lease
	ra = rebase --abort
	rc = rebase --continue
	rdate = !git rebase "$(git first-commit)"~ --committer-date-is-author-date
	ri = !git rebase -i --autosquash "$(git first-commit)"~
	rs = rebase --skip
	sw = switch
[add "interactive"]
	useBuiltin = true
[apply]
	whitespace = fix
[commit]
	gpgsign = true
[core]
	autoCRLF = false
	compression = 9
	editor = vim
	eol = lf
	excludesfile = ~/.gitignore
	hideDotFiles = true
	longpaths = true
	precomposeUnicode = true
[delta]
	features = side-by-side line-numbers decorations
[diff]
	algorithm = minimal
	colorMoved = dimmed-zebra
	compactionHeuristic = true
	renames = copies
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[filter "vrc"]
	clean = git vrc clean --file %f
	smudge = git vrc smudge --file %f
	required = true
[help]
	autocorrect = prompt
[http]
	postBuffer = 524288000
[include]
	path = ~/.gitconfig.local
[merge]
	autostash = true
	ff = false
	log = true
[pull]
	ff = only
	rebase = true
[push]
	autoSetupRemote = true
	followTags = true
	gpgsign = if-asked
[rebase]
	abbreviateCommands = true
	autostash = true
	missingCommitsCheck = error
[rerere]
	enable = true
[tag]
	forceSignAnnotated = true
	gpgsign = true
[user]
	email = krone@kit.black
	name = kurone-kito
	signingkey = DFC46A0ADEE2FC635163CD5431D6D754C1D839D1
