# -*- mode: properties -*-
# vim: set ft=properties :
[alias]
  c = clone --recursive
  co = checkout
  count = "!git logb | wc -l | sed 's/^ *//;s/ *$//'"
  cp = cherry-pick
  delete-merged-branch = "!f() { git branch --merged | egrep -v '(^\\*|develop|master|main)$' | xargs git branch -d; }; f"
  first-commit = !git log --pretty=format:\"%h\" --abbrev=40 "$(git main)"..HEAD | tail -1
  gc-full = "!git reflog expire --expire=now --all && git gc --aggressive --prune=now"
  logb = !git log --oneline "$(git main)"..HEAD
  main = symbolic-ref --short refs/remotes/origin/HEAD
  nuke = !git clean -fdx && git clean -fdX
  pull = pull --recurse-submodules
  push-f = push --force-with-lease
  ra = rebase --abort
  rc = rebase --continue
  rd = !git rebase "$(git first-commit)"~ --committer-date-is-author-date
  re = rebase --edit-todo
  ri = !git rebase -i "$(git first-commit)"~
  rs = rebase --skip
  sw = switch
[add "interactive"]
  useBuiltin = true
[apply]
  whitespace = fix
[column]
  ui = auto
[commit]
{{- if .gpg_key_id }}
  gpgsign = true
{{- else }}
  gpgsign = false
{{- end }}
[core]
  autoCRLF = false
  compression = 9
  editor = nvim
  eol = lf
  excludesfile = ~/.gitignore
  hideDotFiles = true
  longpaths = true
  precomposeUnicode = true
[delta]
  features = side-by-side line-numbers decorations
[diff]
  algorithm = minimal
  colorMoved = dimmed-zebra
  compactionHeuristic = true
  renames = copies
[fetch]
  all = true
  fsckobjects = true
  prune = true
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[filter "vrc"]
  clean = git vrc clean --file %f
  smudge = git vrc smudge --file %f
  required = true
[help]
  autocorrect = prompt
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[merge]
  autostash = true
  conflictStyle = zdiff3
  ff = false
  log = true
[pull]
  ff = only
  rebase = true
[push]
  autoSetupRemote = true
  default = current
  followTags = true
  gpgsign = if-asked
[rebase]
  abbreviateCommands = true
  autoSquash = true
  autostash = true
  missingCommitsCheck = error
  updateRefs = true
[receive]
  fsckobjects = true
[rerere]
  enable = true
[tag]
  forceSignAnnotated = true
{{- if .gpg_key_id }}
  gpgsign = true
{{- else }}
  gpgsign = false
{{- end }}
[transfer]
  fsckobjects = true
[trim]
  bases = main,master,gh-pages
[user]
  email = {{ .email }}
  name = {{ .name }}
{{- if .gpg_key_id }}
  signingkey = {{ .gpg_key_id }}
{{- end }}
