keybinds clear-defaults=true {
  locked {
    bind "Ctrl g" { SwitchToMode "normal"; }
  }
  pane {
    bind "left" { MoveFocus "left"; }
    bind "down" { MoveFocus "down"; }
    bind "up" { MoveFocus "up"; }
    bind "right" { MoveFocus "right"; }
    bind "c" { SwitchToMode "renamepane"; PaneNameInput 0; }
    bind "d" { NewPane "down"; SwitchToMode "locked"; }
    bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "locked"; }
    bind "f" { ToggleFocusFullscreen; SwitchToMode "locked"; }
    bind "h" { MoveFocus "left"; }
    bind "i" { TogglePanePinned; SwitchToMode "locked"; }
    bind "j" { MoveFocus "down"; }
    bind "k" { MoveFocus "up"; }
    bind "l" { MoveFocus "right"; }
    bind "n" { NewPane; SwitchToMode "locked"; }
    bind "p" { SwitchToMode "normal"; }
    bind "r" { NewPane "right"; SwitchToMode "locked"; }
    bind "s" { NewPane "stacked"; SwitchToMode "locked"; }
    bind "w" { ToggleFloatingPanes; SwitchToMode "locked"; }
    bind "x" { CloseFocus; SwitchToMode "locked"; }
    bind "z" { TogglePaneFrames; SwitchToMode "locked"; }
    bind "tab" { SwitchFocus; }
  }
  tab {
    bind "left" { GoToPreviousTab; }
    bind "down" { GoToNextTab; }
    bind "up" { GoToPreviousTab; }
    bind "right" { GoToNextTab; }
    bind "1" { GoToTab 1; SwitchToMode "locked"; }
    bind "2" { GoToTab 2; SwitchToMode "locked"; }
    bind "3" { GoToTab 3; SwitchToMode "locked"; }
    bind "4" { GoToTab 4; SwitchToMode "locked"; }
    bind "5" { GoToTab 5; SwitchToMode "locked"; }
    bind "6" { GoToTab 6; SwitchToMode "locked"; }
    bind "7" { GoToTab 7; SwitchToMode "locked"; }
    bind "8" { GoToTab 8; SwitchToMode "locked"; }
    bind "9" { GoToTab 9; SwitchToMode "locked"; }
    bind "[" { BreakPaneLeft; SwitchToMode "locked"; }
    bind "]" { BreakPaneRight; SwitchToMode "locked"; }
    bind "b" { BreakPane; SwitchToMode "locked"; }
    bind "h" { GoToPreviousTab; }
    bind "j" { GoToNextTab; }
    bind "k" { GoToPreviousTab; }
    bind "l" { GoToNextTab; }
    bind "n" { NewTab; SwitchToMode "locked"; }
    bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
    bind "s" { ToggleActiveSyncTab; SwitchToMode "locked"; }
    bind "t" { SwitchToMode "normal"; }
    bind "x" { CloseTab; SwitchToMode "locked"; }
    bind "tab" { ToggleTab; }
  }
  resize {
    bind "left" { Resize "Increase left"; }
    bind "down" { Resize "Increase down"; }
    bind "up" { Resize "Increase up"; }
    bind "right" { Resize "Increase right"; }
    bind "+" { Resize "Increase"; }
    bind "-" { Resize "Decrease"; }
    bind "=" { Resize "Increase"; }
    bind "H" { Resize "Decrease left"; }
    bind "J" { Resize "Decrease down"; }
    bind "K" { Resize "Decrease up"; }
    bind "L" { Resize "Decrease right"; }
    bind "h" { Resize "Increase left"; }
    bind "j" { Resize "Increase down"; }
    bind "k" { Resize "Increase up"; }
    bind "l" { Resize "Increase right"; }
    bind "r" { SwitchToMode "normal"; }
  }
  move {
    bind "left" { MovePane "left"; }
    bind "down" { MovePane "down"; }
    bind "up" { MovePane "up"; }
    bind "right" { MovePane "right"; }
    bind "h" { MovePane "left"; }
    bind "j" { MovePane "down"; }
    bind "k" { MovePane "up"; }
    bind "l" { MovePane "right"; }
    bind "m" { SwitchToMode "normal"; }
    bind "n" { MovePane; }
    bind "p" { MovePaneBackwards; }
    bind "tab" { MovePane; }
  }
  scroll {
    bind "Alt left" { MoveFocusOrTab "left"; SwitchToMode "locked"; }
    bind "Alt down" { MoveFocus "down"; SwitchToMode "locked"; }
    bind "Alt up" { MoveFocus "up"; SwitchToMode "locked"; }
    bind "Alt right" { MoveFocusOrTab "right"; SwitchToMode "locked"; }
    bind "e" { EditScrollback; SwitchToMode "locked"; }
    bind "f" { SwitchToMode "entersearch"; SearchInput 0; }
    bind "Alt h" { MoveFocusOrTab "left"; SwitchToMode "locked"; }
    bind "Alt j" { MoveFocus "down"; SwitchToMode "locked"; }
    bind "Alt k" { MoveFocus "up"; SwitchToMode "locked"; }
    bind "Alt l" { MoveFocusOrTab "right"; SwitchToMode "locked"; }
    bind "s" { SwitchToMode "normal"; }
  }
  search {
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "n" { Search "down"; }
    bind "o" { SearchToggleOption "WholeWord"; }
    bind "p" { Search "up"; }
    bind "w" { SearchToggleOption "Wrap"; }
  }
  session {
    bind "a" {
      LaunchOrFocusPlugin "zellij:about" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "c" {
      LaunchOrFocusPlugin "configuration" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "d" { Detach; }
    bind "l" {
      LaunchOrFocusPlugin "zellij:layout-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "o" { SwitchToMode "normal"; }
    bind "p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "s" {
      LaunchOrFocusPlugin "zellij:share" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
    bind "w" {
      LaunchOrFocusPlugin "session-manager" {
        floating true
        move_to_focused_tab true
      }
      SwitchToMode "locked"
    }
  }
  shared_among "normal" "locked" {
    bind "Alt left" { MoveFocusOrTab "left"; }
    bind "Alt down" { MoveFocus "down"; }
    bind "Alt up" { MoveFocus "up"; }
    bind "Alt right" { MoveFocusOrTab "right"; }
    bind "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt =" { Resize "Increase"; }
    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }
    bind "Alt f" { ToggleFloatingPanes; }
    bind "Alt h" { MoveFocusOrTab "left"; }
    bind "Alt i" { MoveTab "left"; }
    bind "Alt j" { MoveFocus "down"; }
    bind "Alt k" { MoveFocus "up"; }
    bind "Alt l" { MoveFocusOrTab "right"; }
    bind "Alt n" { NewPane; }
    bind "Alt o" { MoveTab "right"; }
    bind "Alt p" { TogglePaneInGroup; }
    bind "Alt Shift p" { ToggleGroupMarking; }
  }
  shared_except "locked" "renametab" "renamepane" {
    bind "Ctrl g" { SwitchToMode "locked"; }
    bind "Ctrl q" { Quit; }
  }
  shared_except "locked" "entersearch" {
    bind "enter" { SwitchToMode "locked"; }
  }
  shared_except "locked" "entersearch" "renametab" "renamepane" {
    bind "esc" { SwitchToMode "locked"; }
  }
  shared_except "locked" "entersearch" "renametab" "renamepane" "move" {
    bind "m" { SwitchToMode "move"; }
  }
  shared_except "locked" "entersearch" "search" "renametab" "renamepane" "session" {
    bind "o" { SwitchToMode "session"; }
  }
  shared_except "locked" "tab" "entersearch" "renametab" "renamepane" {
    bind "t" { SwitchToMode "tab"; }
  }
  shared_among "normal" "resize" "tab" "scroll" "prompt" "tmux" {
    bind "p" { SwitchToMode "pane"; }
  }
  shared_among "normal" "resize" "search" "move" "prompt" "tmux" {
    bind "s" { SwitchToMode "scroll"; }
  }
  shared_except "locked" "resize" "pane" "tab" "entersearch" "renametab" "renamepane" {
    bind "r" { SwitchToMode "resize"; }
  }
  shared_among "scroll" "search" {
    bind "PageDown" { PageScrollDown; }
    bind "PageUp" { PageScrollUp; }
    bind "left" { PageScrollUp; }
    bind "down" { ScrollDown; }
    bind "up" { ScrollUp; }
    bind "right" { PageScrollDown; }
    bind "Ctrl b" { PageScrollUp; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "locked"; }
    bind "d" { HalfPageScrollDown; }
    bind "Ctrl f" { PageScrollDown; }
    bind "h" { PageScrollUp; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "l" { PageScrollDown; }
    bind "u" { HalfPageScrollUp; }
  }
  entersearch {
    bind "Ctrl c" { SwitchToMode "scroll"; }
    bind "esc" { SwitchToMode "scroll"; }
    bind "enter" { SwitchToMode "search"; }
  }
  renametab {
    bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
  }
  shared_among "renametab" "renamepane" {
    bind "Ctrl c" { SwitchToMode "locked"; }
  }
  renamepane {
    bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
  }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
  about location="zellij:about"
  compact-bar location="zellij:compact-bar"
  configuration location="zellij:configuration"
  filepicker location="zellij:strider" {
    cwd "/"
  }
  plugin-manager location="zellij:plugin-manager"
  session-manager location="zellij:session-manager"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  tab-bar location="zellij:tab-bar"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
}

// Plugins to load in the background when a new session starts
load_plugins {
  zellij:link
}
{{- $zellijWebServer := dig "zellij" "web" "server" true . -}}
{{- $zellijWebSharing := dig "zellij" "web" "sharing" "on" . -}}
{{- $zellijWebBind := dig "zellij" "web" "bind" "127.0.0.1" . -}}
{{- $zellijWebPort := dig "zellij" "web" "port" 8082 . -}}
{{- $zellijWebCert := dig "zellij" "web" "cert" "" . -}}
{{- $zellijWebKey := dig "zellij" "web" "key" "" . -}}
{{- $zellijWebBaseUrl := dig "zellij" "web" "base_url" "" . -}}
{{- $zellijWebEnforceHttpsLocalhost := dig "zellij" "web" "enforce_https_on_localhost" false . -}}
web_client {
  font "monospace"
{{ if $zellijWebBaseUrl -}}
  base_url {{ $zellijWebBaseUrl | quote }}
{{ end -}}
}

// Choose the theme that is specified in the themes section.
theme "tokyo-night-storm"

// Choose the base input mode of zellij.
default_mode "locked"

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
{{ if eq .chezmoi.os "windows" -}}
  default_shell "pwsh"
{{ end -}}

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
{{ if eq .chezmoi.os "darwin" -}}
  copy_command "pbcopy"
{{ else if eq .chezmoi.os "windows" -}}
  copy_command "Set-Clipboard"
{{ else -}}
  copy_command "xclip -selection clipboard"
{{ end -}}

// Whether pane viewports are serialized along with the session, default is false
serialize_pane_viewport true

// Whether to make sure a local web server is running when a new Zellij session starts.
// This web server will allow creating new sessions and attaching to existing ones that have
// opted in to being shared in the browser.
// When enabled, navigate to http://127.0.0.1:8082
// (Requires restart)
//
// Note: a local web server can still be manually started from within a Zellij session or from the CLI.
// If this is not desired, one can use a version of Zellij compiled without
// `web_server_capability`
web_server {{ if $zellijWebServer }}true{{ else }}false{{ end }}

// Which address the local web server listens on.
web_server_ip {{ $zellijWebBind | quote }}

// Which port the local web server listens on.
web_server_port {{ $zellijWebPort }}

// Whether to allow sessions started in the terminal to be shared through a local web server, assuming one is
// running (see the `web_server` option for more details).
// (Requires restart)
//
// Note: This is an administrative separation and not intended as a security measure.
web_sharing {{ $zellijWebSharing | quote }}

// A path to a certificate file to be used when setting up the web client to serve the
// connection over HTTPs
//
{{ if $zellijWebCert -}}
web_server_cert {{ $zellijWebCert | quote }}
{{ else -}}
// web_server_cert "/path/to/cert.pem"
{{ end -}}
// A path to a key file to be used when setting up the web client to serve the
// connection over HTTPs
//
{{ if $zellijWebKey -}}
web_server_key {{ $zellijWebKey | quote }}
{{ else -}}
// web_server_key "/path/to/key.pem"
{{ end -}}
/// Whether to enforce https connections to the web server when it is bound to localhost
/// (127.0.0.0/8)
///
/// Note: https is ALWAYS enforced when bound to non-local interfaces
///
/// Default: false
//
enforce_https_on_localhost {{ if $zellijWebEnforceHttpsLocalhost }}true{{ else }}false{{ end }}

// Whether to stack panes when resizing beyond a certain size
stacked_resize true

// Whether to show tips on startup
show_startup_tips false

// Whether to show release notes on first version run
show_release_notes false

// Number of async worker tasks to spawn per active client.
client_async_worker_tasks 0
