{{- if eq .chezmoi.os "windows" }}
.gnupg/**
generate-git-profiles.sh
10-import-gpg-keys.sh
20-deploy-ssh-keys.sh
generate-authorized-keys.sh
50-install-mise-tools.sh
60-clone-ghq-repos.sh
70-deploy-env-files.sh
.bashrc
.bash_profile
.zshenv
.profile
.config/shell/**
.config/bash/**
.config/zsh/**
.config/sheldon/**
{{- else }}
AppData
generate-git-profiles.ps1
10-import-gpg-keys.ps1
20-deploy-ssh-keys.ps1
generate-authorized-keys.ps1
35-register-path.ps1
50-install-mise-tools.ps1
60-clone-ghq-repos.ps1
70-deploy-env-files.ps1
link-powershell-profile.ps1
{{- end }}
