[alias]
	# Clone a repository including all submodules
	c = clone --recursive
	co = checkout
	cp = cherry-pick
	sw = switch
[add "interactive"]
	useBuiltin = true
[apply]
	whitespace = fix
[core]
	autoCRLF = false
	compression = 9
	editor = vim
	eol = lf
	excludesfile = ~/.gitignore
	hideDotFiles = true
	longpaths = true
	precomposeUnicode = true
[commit]
	gpgsign = true
[delta]
	features = side-by-side line-numbers decorations
[diff]
	algorithm = minimal
	colorMoved = dimmed-zebra
	compactionHeuristic = true
	renames = copies
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[help]
	autocorrect = prompt
[http]
	postBuffer = 524288000
[merge]
	ff = false
	log = true
[pull]
	ff = only
	rebase = true
[push]
	followTags = true
	gpgsign = if-asked
[rebase]
	abbreviateCommands = true
	autostash = true
	missingCommitsCheck = warn
[tag]
	forceSignAnnotated = true
	gpgsign = true
[user]
	email = krone@kit.black
	name = kurone-kito
	signingkey = DFC46A0ADEE2FC635163CD5431D6D754C1D839D1
